@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");


:root {
  --gold: #d6ae29;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  color: #f2f2f2;
  font-family: 'Cormorant Garamond', serif;
  overflow-x: hidden;
}

/* Navbar */
.kandos-nav {
  background: rgba(0, 0, 0, 0.158);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.kandos-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  margin-left: 20px;
}

.kandos-nav .nav-link:hover,
.kandos-nav .nav-link.active {
  color: #CDAA7D !important;
  /* gold accent */
}

/* Hero Modal */
.modal-content {
  background: #0e0e0e;
  border-radius: 12px;
  overflow: hidden;
}


.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

/* Headings */
h1,
h2,
h3,
h4 .hero-title,
.section-title,
.navbar-brand {
  font-family: 'Cormorant Garamond', serif;
  color: var(--gold);
  letter-spacing: 1px;
}

.text-gold {
  color: var(--gold);
}

/* Clean Body & Buttons */
p,
a,
li,
button,
input,
textarea {
  font-family: 'Inter', sans-serif;
  color: #cccccc;
}

/*-------------- ABOUT SECTION -----------------*/

.section-tag {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: #CDAA7D;
  /* refined gold accent */
  text-transform: uppercase;
  font-weight: 500;
}

.section-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #afafaf;
}

.about-text {
  font-size: 1.05rem;
  line-height: 1.8;
 /* text-align: center; */
  margin-bottom: 18px;
  font-family: 'Lato', sans-serif;
}

/* Images */
.about-img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.about-img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.about-img-wrapper:hover .about-img {
  transform: scale(1.05);
}

/* Overlay */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

/*------------------- Signature Layout ------------------------- */
/* Slider Structure */
.signature-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.signature-slide {
  display: none;
  opacity: 0;
  animation: fadeSlide 1s ease;
}

.signature-slide.active {
  display: block;
  opacity: 1;
}

/* Card Glass Effect */
.glass-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.signature-img {
  position: relative;
}

.signature-img img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  display: block;
  transition: transform .4s ease;
}

/* Shine Animation */
.signature-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.4) 50%,
      transparent 100%);
  transform: skewX(-25deg);
  transition: 0.6s;
}

.signature-card:hover .signature-img::before {
  /* animation: shine 1.2s forwards; */
  left: 150%;
}

/* Text overlay */
.signature-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
}

.dish-name {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.7rem;
  font-weight: 600;
  /* color: #1A1A1A; */
}

.dish-desc {
  color: #555;
  font-size: 0.95rem;
  margin: 8px 0 10px;
  line-height: 1.6;
}

.dish-price {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #CDAA7D;
  /* gold accent */
}

/* Dark overlay */
.image-overlay2 {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

/* Fade Slide Animation */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slider Buttons */
.slider-btn {
  background: none;
  border: 2px solid #d4af37;
  color: #d4af37;
  padding: 8px 16px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.3s;
}

.slider-btn:hover {
  background: #d4af37;
  color: #000;
}

/* ----------PAge Navigate -----------------*/

.navigate-img {
  position: relative;
  overflow: hidden;
}

.navigate-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform .4s ease;
  display: block;
}

.navigate-img:hover img {
  transform: scale(1.05);

}

.navigate-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.navigate-btn .btn {
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

.navigate-btn .btn:hover {
  /* letter-spacing: 1px; */
  transform: translateY(-6px);
  color: #d4af37;
}

.navigate-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

/* --------------------Menu Section------------------------*/
.menu-title {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
}

.underline {
  width: 70px;
  height: 3px;
  background: #d4af37;
  margin: 10px auto;
}

/* TAB BUTTONS */
#menuTabs .nav-link {
  color: #bbb;
  border: 1px solid transparent;
  margin: 0 5px;
  padding: 8px 20px;
  border-radius: 30px;
  background: transparent;
  transition: 0.3s;
}

#menuTabs .nav-link.active,
#menuTabs .nav-link:hover {
  background: #d4af37;
  color: #000;
}

/* MENU CARD */
.menu-card {
  /* background: rgba(255, 255, 255, 0.06); */
  border: 1px solid rgba(212, 175, 55, 0.2);
  /* background:#141414; */
  border-radius: 18px;
  overflow: hidden;
  /* box-shadow: 0 8px 25px rgba(0,0,0,0.08); */
  transition: 0.4s ease;
  cursor: pointer;
}

.menu-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
}

.menu-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  transition: 0.4s;
}

.menu-card:hover .menu-img {
  filter: brightness(80%);
  transform: scale(1.05);
}

.menu-info {
  padding: 16px;
}

.menu-info h4 {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.menu-info p {
  color: #777;
  font-size: 0.95rem;
  padding: 0 80px 0 0;

}

.underline2 {
  width: 500px;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(233, 196, 32));
  margin: 10px auto;
  border-radius: 5px;
}

.underline1 {
  width: 500px;
  height: 3px;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(233, 196, 32));
  margin: 10px auto;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .underline1,
  .underline2 {
    width: 340px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.footer-gallery {
  display: block;
  position: relative;
  width: calc((100% - 50px) / 3);
  height: 80px;
  size: cover;
  position: center center;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* --------Cocktail Section-------------- */
.cocktail-section {
  background: #0d0d0d;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.cocktail-tag {
  color: #CDAA7D;
  font-weight: 600;
  letter-spacing: 2px;
}

.cocktail-title {
  font-size: 3rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  margin-top: 8px;
}

.cocktail-sub {
  color: #bbb;
  margin-top: 10px;
}

/* Cocktail Cards */
.cocktail-card {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  overflow: hidden;
  transition: 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.cocktail-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.5);
}

/* Image + Glass Effect */
.cocktail-img {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.cocktail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.cocktail-card:hover img {
  transform: scale(1.1);
  filter: brightness(75%);
}

/* Glass Reflection Overlay */
.glass-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.01));
  transform: skewX(-20deg);
  transition: 0.7s ease;
}

.cocktail-card:hover .glass-overlay {
  left: 120%;
}

/* Cocktails Info */
.cocktail-info {
  padding: 18px 22px;
  text-align: left;
}

.cocktail-info h4 {
  font-size: 1.4rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  margin-bottom: 4px;
}

.cocktail-info p {
  color: #ccc;
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.price {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: #CDAA7D;
  font-size: 1.2rem;
}

/* ---------------------reservation page---------------- */
.reservation-section {
  padding: 60px 0;
}

.section-sub {
  text-align: center;
  color: #777;
  /* margin-bottom: 25px; */
}

.reservation-box {
  /* background: #fff; */
  background: #141414;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  max-width: 700px;
  margin: 0 auto;
}

.error {
  font-size: 0.8rem;
  color: #c00;
  height: 14px;
  display: block;
  margin-top: 3px;
}

/* Inputs + Forms */
form input,
form select,
form textarea {
  background: #1d1d1d !important;
  border: 1px solid #333 !important;
  color: #f2f2f2 !important;
  border-radius: 8px !important;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-color: var(--gold);
  box-shadow: none;
}

input::placeholder,
textarea::placeholder {
  color: #777 !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-gold {
  background: var(--gold);
  color: #000000;
  border-radius: 50px;
  border: none;
  transition: 0.3s ease;
}

.btn-gold:hover {
  background: transparent;
  color: var(--gold);
  border: 1px solid var(--gold);
}

/* Outline button */
.btn-outline-gold {
  border: 1px solid var(--gold);
  color: var(--gold);
  border-radius: 50px;
  padding: 10px 25px;
  transition: 0.3s ease;
}

.btn-outline-gold:hover {
  background: var(--gold);
  color: #ffffff;
}

.btn {
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.95rem;
}

.status {
  margin-top: 10px;
  color: #777;
}

/* Modal */
.modal2 {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .25s;
  z-index: 50;
}

.modal2[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}

.modal-panel {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


.toast {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #111;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* ---------------- Contact section ----------------------  */
.contact-box {
  background: #141414;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
  transition: 0.3s ease;
}

.contact-box:hover {
  border-color: var(--gold);
}

/*-------------- FOOTER SECTION ----------------------- */


.footer-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #d4a657;
  letter-spacing: 2px;
}

.footer-title {
  font-size: 1.2rem;
  color: #d4a657;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list li a {
  color: #bbb;
  text-decoration: none;
  transition: color .3s ease, padding-left .3s ease;
}

.footer-list li a:hover {
  color: #d4a657;
  padding-left: 5px;
}

.social-links a {
  font-size: 1.3rem;
  margin-right: 12px;
  color: #bbb;
  transition: transform .3s ease;
}

.social-links a:hover {
  color: #d4a657;
  transform: translateY(-5px);
}

/* .footer-input {
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  color: #fff;
} */

.footer-input::placeholder {
  color: #ccc;
}


.footer-line {
  border-color: rgba(255, 255, 255, 0.2);
  margin: 25px 0;
}

/* --------------------- */
.reviews-section {
  background: #0f0f0f;
  color: #ddd;
  overflow: hidden;
  position: relative;
}

.reviews-slider {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.reviews-slider::-webkit-scrollbar {
  display: none;
}

.review-card {
  min-width: 320px;
  background: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 25px;
  scroll-snap-align: center;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: transform .4s ease, background .3s;
}

.review-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.1);
}

.review-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.review-avatar {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #d4a657;
}

.review-name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}

.review-stars {
  color: #d4a657;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.review-text {
  margin-top: 15px;
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Shine overlay */
.reviews-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  height: 100%;
  width: 80%;
  background: linear-gradient(120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 100%);
  animation: shineMove 12s infinite linear;
}

@keyframes shineMove {
  0% {
    left: -120%;
  }

  100% {
    left: 120%;
  }
}

@media (max-width: 768px) {
  .review-card {
    min-width: 270px;
  }
}

.border-bottom {
  border-color: var(--gold) !important;
  border: 1px solid var(--gold) !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;

}